body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #eaeaea;
}

.header-row {
  display: flex;
  background-color: grey;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
}

.header {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
 width: 500px;
}

.header:last-child {
  border-right: none;
}

.row {
  display: flex;
  background-color: #ffffff94;
  border-bottom: 2px solid #0000005f;
}

.cell {
  flex: 1;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  border-right: 2px solid #dddddd;
  color: #333333;
}

.row:hover {
  background-color:rgba(128, 128, 128, 0.325);
}

.container {
  margin: auto;
  border-radius: 8px;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1);
}

